infrastructure/logicapps/us-fellows-intake/workflow-definition.json
{
  "$schema": "https://schema.management.azure.com/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": { "defaultValue": {}, "type": "Object" },
    "d365Organization": { "defaultValue": "org8a977f45.crm", "type": "String" }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "method": "POST",
        "schema": {
          "type": "object",
          "properties": {
            "$content-type": { "type": "string" },
            "$content": { "type": "string" },
            "$formdata": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": { "key": { "type": "string" }, "value": { "type": "string" } },
                "required": ["key", "value"]
              }
            }
          }
        }
      }
    }
  },
  "actions": {
    "Reject_Bot_Submission": {
      "type": "If",
      "expression": { "and": [{ "not": { "equals": ["@triggerFormDataValue('company_website')", ""] } }] },
      "actions": {
        "Respond_Bot": {
          "type": "Response",
          "kind": "Http",
          "inputs": { "statusCode": 400, "headers": { "Content-Type": "application/json", "Access-Control-Allow-Origin": "https://usfellows.org" }, "body": { "success": false, "message": "Invalid submission" } }
        },
        "Stop_Bot": { "type": "Terminate", "runAfter": { "Respond_Bot": ["Succeeded"] }, "inputs": { "runStatus": "Succeeded" } }
      },
      "runAfter": {}
    },
    "Initialize_Application_Description": {
      "type": "InitializeVariable",
      "runAfter": { "Reject_Bot_Submission": ["Succeeded"] },
      "inputs": {
        "variables": [{
          "name": "application_description",
          "type": "string",
          "value": "@{concat('US FELLOWS APPLICATION', decodeUriComponent('%0A%0A'), 'Applicant: ', triggerFormDataValue('first_name'), ' ', triggerFormDataValue('middle_name'), ' ', triggerFormDataValue('last_name'), decodeUriComponent('%0A'), 'Preferred name: ', triggerFormDataValue('preferred_name'), decodeUriComponent('%0A'), 'Email: ', triggerFormDataValue('email'), decodeUriComponent('%0A'), 'Phone: ', triggerFormDataValue('phone'), decodeUriComponent('%0A'), 'Location: ', triggerFormDataValue('city'), ', ', triggerFormDataValue('state'), ', ', triggerFormDataValue('country'), decodeUriComponent('%0A'), 'Citizenship: ', triggerFormDataValue('citizenship_country'), decodeUriComponent('%0A%0A'), 'Fellowship program: ', triggerFormDataValue('fellowship_program'), decodeUriComponent('%0A'), 'Primary mission: ', triggerFormDataValue('primary_mission'), decodeUriComponent('%0A'), 'Appointment pathway: ', triggerFormDataValue('appointment_pathway'), decodeUriComponent('%0A'), 'Preferred format: ', triggerFormDataValue('preferred_format'), decodeUriComponent('%0A'), 'Available start: ', triggerFormDataValue('available_start_date'), decodeUriComponent('%0A'), 'Hours/week: ', triggerFormDataValue('hours_per_week'), decodeUriComponent('%0A%0A'), 'Current role: ', triggerFormDataValue('current_role'), decodeUriComponent('%0A'), 'Organization: ', triggerFormDataValue('organization'), decodeUriComponent('%0A'), 'Education: ', triggerFormDataValue('degree_level'), ' — ', triggerFormDataValue('field_of_study'), decodeUriComponent('%0A'), 'School: ', triggerFormDataValue('school_name'), decodeUriComponent('%0A'), 'Graduation year: ', triggerFormDataValue('graduation_year'), decodeUriComponent('%0A'), 'Resume/CV: ', triggerFormDataValue('resume_url'), decodeUriComponent('%0A'), 'LinkedIn: ', triggerFormDataValue('linkedin_url'), decodeUriComponent('%0A'), 'Portfolio/publications: ', triggerFormDataValue('portfolio_url'), decodeUriComponent('%0A%0A'), 'RELEVANT EXPERIENCE', decodeUriComponent('%0A'), triggerFormDataValue('experience_summary'), decodeUriComponent('%0A%0A'), 'WHY FELLOWSHIP', decodeUriComponent('%0A'), triggerFormDataValue('why_apply'), decodeUriComponent('%0A%0A'), 'PROPOSED CONTRIBUTION', decodeUriComponent('%0A'), triggerFormDataValue('proposed_contribution'), decodeUriComponent('%0A%0A'), 'PUBLIC BENEFIT', decodeUriComponent('%0A'), triggerFormDataValue('public_benefit_statement'), decodeUriComponent('%0A%0A'), 'ACCESSIBILITY/PARTICIPATION NEEDS', decodeUriComponent('%0A'), triggerFormDataValue('accessibility_needs'))}"
        }]
      }
    },
    "Create_D365_Applicant_Lead": {
      "type": "ApiConnection",
      "runAfter": { "Initialize_Application_Description": ["Succeeded"] },
      "inputs": {
        "host": { "connection": { "name": "@parameters('$connections')['dynamicscrmonline']['connectionId']" } },
        "method": "post",
        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('d365Organization')))}/tables/@{encodeURIComponent(encodeURIComponent('leads'))}/items",
        "retryPolicy": { "type": "exponential", "count": 3, "interval": "PT30S", "minimumInterval": "PT10S", "maximumInterval": "PT5M" },
        "body": {
          "_leadsourcecode_label": "Web",
          "_leadqualitycode_label": "Warm",
          "_statuscode_label": "New",
          "firstname": "@triggerFormDataValue('first_name')",
          "middlename": "@triggerFormDataValue('middle_name')",
          "lastname": "@triggerFormDataValue('last_name')",
          "emailaddress1": "@triggerFormDataValue('email')",
          "telephone1": "@triggerFormDataValue('phone')",
          "mobilephone": "@triggerFormDataValue('phone')",
          "address1_city": "@triggerFormDataValue('city')",
          "address1_stateorprovince": "@triggerFormDataValue('state')",
          "address1_country": "@triggerFormDataValue('country')",
          "companyname": "@{if(empty(triggerFormDataValue('organization')), 'US Fellows Applicant', triggerFormDataValue('organization'))}",
          "jobtitle": "@triggerFormDataValue('current_role')",
          "subject": "@{concat('US Fellows Application — ', triggerFormDataValue('first_name'), ' ', triggerFormDataValue('last_name'), ' — ', triggerFormDataValue('fellowship_program'))}",
          "description": "@{substring(variables('application_description'), 0, min(length(variables('application_description')), 99000))}",
          "websiteurl": "@triggerFormDataValue('portfolio_url')",
          "new_education": "@{concat(triggerFormDataValue('degree_level'), ' — ', triggerFormDataValue('field_of_study'), ' — ', triggerFormDataValue('school_name'))}",
          "new_goals": "@triggerFormDataValue('proposed_contribution')",
          "new_socialmedialink": "@triggerFormDataValue('linkedin_url')",
          "donotemail": false,
          "donotphone": false,
          "msdyn_gdproptout": false
        }
      }
    },
    "Respond_Success": {
      "type": "Response",
      "kind": "Http",
      "runAfter": { "Create_D365_Applicant_Lead": ["Succeeded"] },
      "inputs": { "statusCode": 201, "headers": { "Content-Type": "application/json", "Access-Control-Allow-Origin": "https://usfellows.org" }, "body": { "success": true, "message": "US Fellows application accepted" } }
    },
    "Respond_Failure": {
      "type": "Response",
      "kind": "Http",
      "runAfter": { "Create_D365_Applicant_Lead": ["Failed", "TimedOut"] },
      "inputs": { "statusCode": 500, "headers": { "Content-Type": "application/json", "Access-Control-Allow-Origin": "https://usfellows.org" }, "body": { "success": false, "message": "Application intake failed" } }
    }
  },
  "outputs": {}
}
